  html,
  body,
  header,

  #intro{
      background: url("backr2.jpg");
      background-size: cover;
  }
  h2,hr{
    margin-top: 20px;
    margin: 0 auto;
    color:#3e4852;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    text-align: center;
    
}
  .box{
    width: 350px;
    padding: 45px;
    position:absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgba(62,72,82,0.8);
    text-align: center;
    border-radius: 25% 5%;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
      /*Footer */
.section-footer{
  background:rgba(62,72,82,0.5);
  color:#ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
/* /Footer */